%h1 Add team

- if @team.errors.any?
  = pluralize(@team.errors.count, "error")

  %ul
    - @team.errors.full_messages.each do |msg|
      %li= msg

= simple_form_for @team do |f|
  = f.input :name, placeholder: "Name of the team"
  = f.input :icon, label: "Upload team logo"
  = f.button :submit, "Add team"