%h2= t(:new_reply)

- if @reply.errors.any?
  = pluralize(@reply.errors.count, "error")

  %ul
    - @reply.errors.full_messages.each do |msg|
      %li= msg

= simple_form_for([@article, @reply]) do |f|
  -unless user_signed_in?
    = f.input :author, label: "Author: "
  = f.input :content, label: "Reply: "
  = f.input :image, label: "Choose image: "
  = f.button :submit, "Reply"  
  