%h2= t(:new_reply)

= simple_form_for([@article, @reply]) do |f|
  -unless user_signed_in?
    = f.input :author, label: "#{t(:author)}: "
  = f.input :content, label: "#{t(:reply)}: "
  = f.input :image, label: "#{t(:choose_image)}: "
  = f.button :submit, "#{t(:post)}"  
  