%h2= t(:new_reply)

- if @reply.errors.any?
  = pluralize(@reply.errors.count, "error")

  %ul
    - @reply.errors.full_messages.each do |msg|
      %li= msg


= form_for([@article, @reply]) do |f|
  -unless user_signed_in?
    .field
      = f.text_field :author, placeholder: "author"

  .field 
    = f.text_area :content, placeholder: "reply"

  .action
    = f.submit "Post"
