= form_for ([@article, @reply]) do |f|
  -unless user_signed_in?
    .field
      = f.text_field :author, placeholder: "Author"

  .field
    = f.hidden_field :parent_id

  .field 
    = f.text_area :content, placeholder: "Reply"

  .action
    = f.submit "Post"