
= simple_form_for([@article, @reply]) do |f|
  -unless user_signed_in?
    = f.input :author, label: "Author: "
  = f.input :parent_id, as: :hidden
  = f.input :content, label: "Reply: "
  = f.button :submit, "Reply"  