- if @article.errors.any?
  = pluralize(@article.errors.count, "error")

  %ul
    - @article.errors.full_messages.each do |msg|
      %li= msg

= form_for @article do |f|
  .field 
    = f.text_field :title, placeholder: "Title"

  .field
    = f.text_area :article, placeholder: "Article"

  .field
    = f.label "Choose image"
    = f.file_field :image

  .actions 
    = f.submit "Save article"
