- if @article.errors.any?
  = pluralize(@article.errors.count, "error")

  %ul
    - @article.errors.full_messages.each do |msg|
      %li= msg

= simple_form_for @article do |f|
  = f.input :title, placeholder: "Title"
  = f.input :content, placeholder: "Content"
  = f.input :icon, label: "Choose image: "
  = f.button :submit, "Save article"