%h1 Forum

=link_to t(:new_article), new_article_path

%table
  %tr
  %th= t(:article)
  %th= t(:author)
  %th= t(:replies)
  -@articles.each do |article|
    %tr
      %td= link_to article.title, article_path(article)
      %td= article.author
      %td= article.replies.count()