%h1.text-center#forum_title Forum

%div#articles.col-md-9
  %table.table
    %tr
    %th.text-center= t(:thumbnail)
    %th.text-center= t(:article)
    %th.text-center= t(:author)
    %th.text-center= t(:replies)
    %th.text-center= t(:posted)
    -@articles.order(created_at: :desc).each do |article|
      %tr
        %td
          - unless article.icon_file_size == nil
            = image_tag article.icon.url(:thumb), class: "icon center-block"
          - else 
            = image_tag "default_icon.png", size: "50x50", class: "center-block"
        %td.text-center
          = link_to article.title, article_path(article), method: :get, id: "article_title"
        %td.text-center
          -if article.user.present?
            = link_to article.user.nickname, user_path(article.user)
          -else
            = article.author
        %td.text-center= article.replies.count()
        %td.text-center= format_time(article.created_at)

%div.col-md-3
  =link_to t(:new_article), new_article_path, class: "btn btn-primary", id: "new_article"
  
  %br
  %br

  .side-bar#articles_sidebar
    #calendar
      %h5#month
        = link_to "<", date: @date.prev_month
        = @date.strftime("%B %Y")
        = link_to ">", date: @date.next_month
      = calendar @date do |date|
        = date.day
        - @games.each do |game|
          - if format_for_calendar(game.date) == "#{date}"
            = link_to image_tag("logo/#{game.team.name}", size: "20"), game_path(game)

    %br

    %h2 Last games
    -@last_games.each do |game|
      %br
      %p= "NYK vs #{game.team.name}"
      %p= format_time(game.date)
      
      -if game.at == 'H'
        %p= "At MSG"
      -else
        %p= "Away game"
  
      -if game.nyk_points and game.opponent_points
        %p= "#{game.nyk_points}:#{game.opponent_points}"

    %br
  
    %h2 Upcoming games
    -@upcoming_games.each do |game|
      %br
      %p= "NYK vs #{game.team.name}"
      %p= format_time(game.date)
    
      -if game.at == 'H'
        %p= "At MSG"
      -else
        %p= "Away game"