%h1 Forum

=link_to t(:new_article), new_article_path

%table
  %tr
  %th= t(:article)
  %th= t(:author)
  %th= t(:replies)
  -@articles.order(created_at: :desc).each do |article|
    %tr
      %td= link_to article.title, article_path(article)
      %td
        -if article.user.present?
          = article.user.nickname
        -else
          = article.author
      %td= article.replies.count()
      %td= format_time(article.created_at)