%h1= @article.author
%h1= @article.title
%p= @article.article

=link_to "Edit article", edit_article_path(@article)
=link_to "Delete article", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}


= render "replies/form"


-if @article.replies.count != 0
  %table
    %tr
      %th= t(:author)
      %th= t(:reply)
    - @article.replies.each do |reply|
      %tr
        %td= reply.author
        %td= reply.body