%h1= @article.author
%h1= @article.title
%p= @article.content


-if current_user == @article.user
  =link_to "Edit article", edit_article_path(@article)
  
-if user_signed_in? and current_user.admin
  =link_to "Delete article", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}


= render "replies/form"
= nested_replies @replies.arrange(:order => :created_at)