%h1 edit profile

- if @user.errors.any?
  = pluralize(@user.errors.count, "error")

  %ul
    - @user.errors.full_messages.each do |msg|
      %li= msg


-if @user.asset?
  = image_tag @user.asset.url(:large)
-else 
  = image_tag "default_avatar.jpg", id: "default_avatar"


=form_for(@user) do |f|
  .field
    = f.label "Name: "
    = f.text_field :name 

  .field
    = f.label "Surname: "
    = f.text_field :surname  

  .field
    = f.label "Nickname: "
    = f.text_field :nickname 

  .field
    = f.label "Choose photo: "
    = f.file_field :asset

  .actions
    = f.submit "Save changes"