= render "shared/main_menu"

.container
  %h1.text-center= t(:edit_users_profile)

  -if @user.asset?
    = image_tag @user.asset.url(:large), id: "avatar", class: "center-block"
  -else 
    = image_tag "default_avatar.jpg", id: "avatar", class: "center-block"

  = simple_form_for @user do |f|
    = f.input :name, label: t(:name)
    = f.input :surname, label: t(:surname)
    = f.input :nickname, label: t(:nickname)
    = f.input :asset, label: t(:choose_image)
    = f.input :skin_id, label: t(:choose_skin), collection: 1..6
    = f.button :submit, t(:save_changes)