%h1 Users

%table
  %th username
  %th email address
  %th status
  %th warnings
  %th role
  -@users.each do |user|
    %tr
      %td= link_to user.nickname, user_path(user)
      %td= user.email
      %td
        -if user.blocked == false
          = "active"
        -else
          = "user is blocked"
      %td= user.warnings
      %td
        -if user.role == 3
          = "administrator"
        -elsif user.role == 2
          = "moderator"
        -else
          = "user"
      %td
        -if user.blocked == false
          =link_to "block", block_user_path(user), method: :put, remote: :true, data:{confirm: "Are you sure?"}
      %td
        -if user.blocked == true
          = link_to "unblock", unblock_user_path(user), method: :put, remote: :true, data:{confirm: "Are you sure?"}