%div#users_index
  %h1= t(:users)

  %table.table
    %th= t(:nickname)
    %th= t(:epasts)
    %th= t(:status)
    %th= t(:warnings)
    %th= t(:role)
    -@users.each do |user|
      %tr
        %td= link_to user.nickname, user_path(user)
        %td= user.email
        %td
          -if user.blocked == false
            = t(:active)
          -else
            = t(:blocked)
        %td= user.warnings
        %td
          -if user.role == 3
            = t(:admin)
          -elsif user.role == 2
            = t(:moderator)
          -else
            = t(:user)
        
        -if user.blocked == false
          %td= link_to t(:block), block_user_path(user), method: :put, remote: :true, data:{confirm: "#{t(:are_you_sure)}?"}
      
        -if user.blocked == true
          %td= link_to t(:unblock), unblock_user_path(user), method: :put, remote: :true, data:{confirm: "#{t(:are_you_sure)}"}