- if user_signed_in? && current_user.role >= 2 && @user.blocked == false && @user.role == 1
  = link_to "block", block_user_path(@user), method: :put, data:{confirm: "Are you sure?"}
- elsif user_signed_in? && current_user.role >= 2 && @user.blocked == true && @user.role == 1
  = link_to "unblock", unblock_user_path(@user), method: :put, data:{confirm: "Are you sure?"}

%h1= @user.nickname

- if @user.asset?
  = image_tag @user.asset.url(:medium)
- else
  = image_tag "default_avatar.jpg", size: "240x240"

- if @user.blocked
  %h1 This user has been blocked
-else
  %h3= "Name: #{@user.full_name}"

  %h2= "Articles: "
  
  %table
    -unless @articles.any?
      %tr
        %td No articles
    %tr
      %th Title
      %th Replies
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= link_to article.replies.count, article_path(article), method: :get