= render "shared/main_menu"

.container
  %h1= t(:new_player_stat)
  .new_stat
    = simple_form_for ([@game, @player_stat]) do |f|
      = f.label "#{t(:player)}", id: "select_label"
      = f.label "min"
      = f.label "sec"
      = f.label "pts"
      = f.label "fgm"
      = f.label"fga"
      = f.label "3ptm"
      = f.label "3pta"
      = f.label "ftm"
      = f.label "fta"
      = f.label "+/-"
      = f.label "reb"
      = f.label "oreb"
      = f.label "ast"
      = f.label "blk"
      = f.label "stl"
      = f.label "to"
      = f.label "fouls"

      = f.input_field :player_id, collection: @players, id: "select_field"
      = f.error :player_id
      = f.input_field :min
      = f.error :min
      = f.input_field :sec
      = f.input_field :pts
      = f.input_field :fgm
      = f.input_field :fga
      = f.input_field :three_m
      = f.input_field :three_a
      = f.input_field :ftm
      = f.input_field :fta
      = f.input_field :eff_factor
      = f.input_field :reb
      = f.input_field :or
      = f.input_field :ast
      = f.input_field :blk
      = f.input_field :stl
      = f.input_field :to
      = f.input_field :fouls
      %br/
      = f.submit "#{t(:save)}", id: "save_player_stat"