%h1= t(:add_nyk_player)

= simple_form_for ([@game, @player_stat]) do |f|
  = f.input :player_id, label: "#{t(:choose_player)}: ", collection: @players
  = f.input :min, label: "#{t(:min_played)}: ", input_html: {value: f.object.min || '0'}
  = f.input :sec, label: "#{t(:sec_played)}: ", input_html: {value: f.object.sec || '0'}
  = f.input :pts, label: "#{t(:points)}: ", input_html: {value: f.object.pts || '0'}
  = f.input :fgm, label: "#{t(:fgm)}: ", input_html: {value: f.object.fgm || '0'}
  = f.input :fga, label: "#{t(:fga)}: ", input_html: {value: f.object.fga || '0'}
  = f.input :three_m, label: "#{t(:thrpm)}: ", input_html: {value: f.object.three_a || '0'}
  = f.input :three_a, label: "#{t(:thrpa)}: ", input_html: {value: f.object.three_m || '0'}
  = f.input :ftm, label: "#{t(:ftm)}: ", input_html: {value: f.object.ftm || '0'}
  = f.input :fta, label: "#{t(:fta)}: ", input_html: {value: f.object.fta || '0'}
  = f.input :eff_factor, label: "+/-", input_html: {value: f.object.eff_factor || '0'}
  = f.input :reb, label: "#{t(:rebounds)}: ", input_html: {value: f.object.reb || '0'}
  = f.input :or, label: "#{t(:off_rebs)}: ", input_html: {value: f.object.or || '0'}
  = f.input :ast, label: "#{t(:assists)}: ", input_html: {value: f.object.ast || '0'}
  = f.input :blk, label: "#{t(:blocks)}: ", input_html: {value: f.object.blk || '0'}
  = f.input :stl, label: "#{t(:steals)}: ", input_html: {value: f.object.stl || '0'}
  = f.input :to, label: "#{t(:turnouvers)}: ", input_html: {value: f.object.to || '0'}
  = f.input :fouls, label: "#{t(:fouls)}: ", input_html: {value: f.object.fouls || '0'}
  = f.button :submit, "#{t(:save)}", input_html: {value: f.object.min || '0'}