%h2= t(:new_answer)

- if @answer.errors.any?
  = pluralize(@answer.errors.count, "error")

  %ul
    - @answer.errors.full_messages.each do |msg|
      %li= msg


= form_for([@article, @article.answers.build]) do |f|
  .field
    = f.label "Author: "
    = f.text_field :author

  .field 
    = f.label "Answer: "
    = f.text_area :body

  .action
    = f.submit "Post"