%h1= t(:games)

%div#games_index

  - if user_signed_in? && current_user.role == 3
    = link_to t(:add_new_game), new_game_path


  - @games.each do |game|
    %br
    %br
    =link_to "NYK vs #{game.team.name}", game_path(game)
    %br
    - if game.at == 'H'
      = "@New York"
    - else
      = "@#{game.team.name}"
    - if game.nyk_points and game.opponent_points
      %br
      = "#{game.nyk_points} : #{game.opponent_points}"
    %br
    = format_time(game.date)
    %br
    - if user_signed_in? && current_user.role == 3
      = link_to t(:edit_game), edit_game_path(game)