= render "shared/main_menu"

.container
  -if user_signed_in? && current_user.role == 3
    = link_to t(:edit_player_profile), edit_player_path(@player)

  %div
    %h1= "#{@player.name} ##{@player.number}"
    -if @player.picture?
      = image_tag @player.picture.url(:medium), class: "player_show_image"
    -else
      = image_tag "default_player", class: "player_show_image"
    %p= "#{t(:position)}: #{@player.position}"
    %h3= "#{t(:team)}: #{@player.team.name}"
    %p= "#{t(:height)}: #{@player.height} cm" 
    %p= "#{t(:weight)}: #{@player.weight} kg"

  %br
  %br
  %hr
  %div.text-center
    %h3= t(:players_average_season_stats)
    %table.table
      %tr
        %th
        %th MPG
        %th FG%
        %th 3P%
        %th FT%
        %th PPG
        %th RPG
        %th APG
        %th STL
        %th BPG
      %tr
        -if @player.player_stats.count > 0
          -if @player.picture?
            %td= image_tag @player.picture.url(:thumb), class: "player_thumb center-block" 
          -else
            = image_tag "default_player", class: "player_thumb center-block"
          %td= min_per_game(@player.player_stats.sum(:min), @player.player_stats.sum(:sec), @player.player_stats.count)
          %td= shooting_percentage(@player.player_stats.sum(:fgm), @player.player_stats.sum(:fga))
          %td= shooting_percentage(@player.player_stats.sum(:three_m), @player.player_stats.sum(:three_a))
          %td= shooting_percentage(@player.player_stats.sum(:ftm), @player.player_stats.sum(:fta))
          %td= @player.player_stats.average(:pts)
          %td= @player.player_stats.average(:reb)
          %td= @player.player_stats.average(:ast)
          %td= @player.player_stats.average(:stl)
          %td= @player.player_stats.average(:blk)

        -else
          %td= @player.name
          %td 0.0
          %td 0.0
          %td 0.0
          %td 0.0
          %td 0.0
          %td 0.0
          %td 0.0
          %td 0.0

    %br
    %h3= t(:last_5_games)
   
    %table.table
      %tr
        %th Game
        %th Minutes
        %th FG%
        %th FGM-FGA
        %th 3P%
        %th 3PTM - 3PTA
        %th FT%
        %th FTM - FTA
        %th Points
        %th Rebounds
        %th Assists
        %th Steals
        %th Blocks
      - a = 1
      - @last_stats.each do |stat|
        -if a <= 5 and stat and (stat.min != 0 || stat.sec != 0) and stat.game
          -if stat.game.reviewed == true
            - a += 1
            %tr
              -if stat.game.at == 'H'
                %td= "vs #{stat.game.team.name}\n #{format_date(stat.game.date)}"
              -else
                %td= "@#{stat.game.team.name}\n #{format_date(stat.game.date)}"
              %td= "#{stat.min}:#{stat.sec}"
              %td= shooting_percentage(stat.fgm, stat.fga)
              %td= "#{stat.fgm}-#{stat.fga}"
              %td= shooting_percentage(stat.three_m, stat.three_a)
              %td= "#{stat.three_m}-#{stat.three_a}"
              %td= shooting_percentage(stat.ftm, stat.fta)
              %td= "#{stat.ftm}-#{stat.fta}"
              %td= stat.pts
              %td= stat.reb
              %td= stat.ast
              %td= stat.stl
              %td= stat.blk
