= render "shared/main_menu"

.container
  - if user_signed_in? && current_user.role >= 2 
    = link_to t(:add_new_image), new_image_path
    %br
    = link_to t(:add_video_youtube), new_video_path

  %h3
    %strong= "#{t(:game_highlights)}: "
  %ul.list-inline.video-list
    - @game_highlight_videos.each do |video|
      %li
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "200", :src => "#{video.video_link}", :width => "354"}

  %h3
    %strong= "#{t(:player_highlights)}: "
  %ul.list-inline
    - @player_highlight_videos.each do |video|
      %li
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "200", :src => "#{video.video_link}", :width => "354"}

  %h3
    %strong= "#{t(:compilations)}: "
  %ul.list-inline
    - @compilation_videos.each do |video|
      %li
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "200", :src => "#{video.video_link}", :width => "354"}
  %h3
    %strong= t(:images)
  
  -@images.each_slice(3) do |slice|
    %ul.list-inline
      - slice.each do |image|
        %li
          = image_tag image.image.url(:medium), class: "Gallery_image"
