%h1 Administration

= form_tag(administrations_path, method: "get") do
  .field
    = label_tag "New badword"
    = text_field_tag :word
  .action
    = submit_tag "Save word"

= link_to "pending boxscores", pending_administrations_path
%br

= link_to "games", games_path
%br

= link_to "players", players_path
%br

= link_to "teams", teams_path
%br

= link_to "users", users_path if current_user.role == 3
%br

= link_to 'Send summary', send_summary_administrations_path if current_user.role == 3

%div#awaiting_games

  %h1 Awaiting game results:

  -@games.each do |game|
    %br
    = "NYK vs #{game.team.name}"
    %br
    = format_time(game.date)
    %br
    = link_to "Edit game", edit_game_path(game)
    %br

/Hidden games which are faulty
%div#hidden_games
  - @hidden_games.each do |game|
    %br
    %br
    = "NYK vs #{game.team.name}"
    %br
    - if game.at == 'H'
      = "@New York"
    - else
      = "@#{game.team.name} stadium"
    - if game.nyk_points and game.opponent_points
      %br
      = "#{game.nyk_points} : #{game.opponent_points}"
    %br
    = format_time(game.date)
    %br
    = link_to "Game info", game_path(game)
    %br
    - if user_signed_in? && current_user.role == 3
      = link_to "Edit game info", edit_game_path(game)